* {
  margin: 0;
  padding: 0;
}
.container-fluid{
	letter-spacing: 2px;
}
.avatar{
	border-radius: 50%;
	max-height: 200px;
}
.social img{
	height: 5em;
	margin: 1em .5em .5em .5em;
}
.social div{
	display: inline-block;
}
.social{
	margin: auto;
	position: relative;
	text-align: center;
}